$main-font: 'Plus Jakarta Sans', sans-serif;
$second-font: 'Inter', sans-serif;
$main-font-size: 16px;
$button-font-size: 16px;
$main-title-font-size: 40px;
$footer-nav-link-font-size: 14px;
$main-font-color: rgba(95, 113, 159, 1);

$first-color: #344265;
$second-color: #faff00;
$third-color: #ffffff;
$link-hover-color: #b5becc;
$footer-text-color: #f8f8f8;
$blue-color-1: #485982;
$blue-color-2: #5f719f;
