* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul {
  list-style: none;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

address {
  font-style: inherit;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../fonts/PlusJakartaSans-Regular.woff2") format("woff2"), url("../fonts/PlusJakartaSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../fonts/PlusJakartaSans-Medium.woff2") format("woff2"), url("../fonts/PlusJakartaSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../fonts/PlusJakartaSans-SemiBold.woff2") format("woff2"), url("../fonts/PlusJakartaSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../fonts/PlusJakartaSans-ExtraBold.woff2") format("woff2"), url("../fonts/PlusJakartaSans-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  margin: 0;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  background-color: #344265;
  padding-top: 20px;
  padding-bottom: 24px;
}
.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 28px;
}
.header__navigation {
  color: #ffffff;
  font-size: 17px;
  letter-spacing: 0.01em;
  margin-right: 10px;
}
.header__nav-link {
  -webkit-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
.header__nav-link:hover {
  color: #b5becc;
}
.header__nav-link:not(:last-child) {
  margin-right: 30px;
}
.header__contacts > a.phone-number {
  margin-bottom: 20px;
}

.search {
  width: 282px;
  height: 39px;
  background-color: #fff;
  border-radius: 10px;
  padding: 0px 12px 0px 16px;
}
.search-label {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.search-icon {
  width: 18px;
}
.search-input {
  font-size: 14px;
  background: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 13px;
  color: #485982;
}
.search-input::-webkit-input-placeholder {
  color: #485982;
}
.search-input::-moz-placeholder {
  color: #485982;
}
.search-input:-ms-input-placeholder {
  color: #485982;
}
.search-input::-ms-input-placeholder {
  color: #485982;
}
.search-input::placeholder {
  color: #485982;
}

.book-online-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 9px 22px;
  gap: 9px;
  border-radius: 12px;
  background-color: #faff00;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.book-online-button__icon {
  background-image: url(../img/icons/svg/settings.svg);
  width: 18px;
  height: 18px;
}
.book-online-button__text {
  text-transform: uppercase;
  color: #344265;
  font-size: 16px;
  font-weight: 800;
  line-height: 1.625em;
  letter-spacing: -0.03125em;
  white-space: nowrap;
}
.book-online-button:hover {
  background-color: #fdffa3;
}

.request-call-button {
  background-color: #485982;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 9px 22px;
  gap: 9px;
  border-radius: 12px;
  -webkit-transition: background-color 0.2s ease;
  -o-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}
.request-call-button:hover {
  background-color: #5f76aa;
}
.request-call-button__icon {
  fill: #fff;
}
.request-call-button__text {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.625em;
  letter-spacing: -0.03125em;
}

.phone-number {
  display: block;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  padding-left: 24px;
  position: relative;
  -webkit-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
.phone-number:hover {
  color: #b5becc;
}
.phone-number::before {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  background-image: url(../img/icons/svg/phone.svg);
  width: 15px;
  height: 15px;
}

.footer__socials {
  padding-left: 30px;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.socials-icon {
  fill: #fff;
  -webkit-transition: fill 0.2s ease;
  -o-transition: fill 0.2s ease;
  transition: fill 0.2s ease;
}
.socials__youtube:hover {
  fill: #b5becc;
}
.socials__facebook:hover {
  fill: #b5becc;
}
.socials__pinterest:hover {
  fill: #b5becc;
}
.socials__instagram:hover {
  fill: #b5becc;
}

.socials-item {
  margin-right: 20px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.intro {
  padding-top: 48px;
  padding-bottom: 80px;
  position: relative;
}
.intro__title {
  font-size: 40px;
  color: #344265;
  font-weight: 800;
  margin-bottom: 16px;
}
.intro__subtitle {
  color: #485982;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2em;
  letter-spacing: -0.03em;
  margin-bottom: 32px;
}
.intro__list {
  margin-bottom: 40px;
}
.intro__list-item {
  margin-bottom: 20px;
  padding-left: 27px;
  position: relative;
  font-weight: 500;
  color: #5f719f;
}
.intro__list-item::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 18px;
  height: 18px;
  background-image: url(../img/icons/svg/check.svg);
}
.intro__img {
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-width: 1120px) {
  .intro__img {
    right: -87px;
  }
}
.footer {
  background-color: #344265;
  padding-top: 56px;
  padding-bottom: 16px;
}
.footer__logo {
  grid-area: wide1;
  margin-bottom: 15px;
}
.footer__logo > a > img {
  width: 208px;
}
.footer__contacts {
  padding-top: 47px;
  padding-right: 105px;
  margin-bottom: 46px;
}
.footer__contacts-phone {
  margin-bottom: 40px;
}
.footer__contacts-address {
  grid-area: address;
  margin-bottom: 32px;
  font-weight: 500;
  color: #f8f8f8;
}
.footer__contacts-email {
  font-weight: 500;
  color: #f8f8f8;
  -webkit-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
.footer__contacts-email:hover {
  color: #b5becc;
}
.footer__title {
  color: #ffffff;
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.footer__nav {
  color: #f8f8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
}
.footer__nav-link {
  margin-bottom: 10px;
  -webkit-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
.footer__nav-link:hover {
  color: #b5becc;
}
.footer__about-nav {
  grid-area: nav1;
}
.footer__services-nav {
  grid-area: nav2;
}
.footer__help-nav {
  grid-area: nav3;
}
.footer__book-online-button {
  grid-area: btn;
  margin-bottom: 75px;
}
.footer__book-online-button > .book-online-button {
  width: 180px;
}
.footer__socials {
  grid-area: socials;
}
.footer__copyright {
  grid-area: copyright;
  color: #f8f8f8;
  font-size: 14px;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
  grid-template-areas: "wide1 wide1 wide1 wide1" "address nav1 nav2 nav3" "btn XXXX XXXX socials" "copyright copyright copyright copyright";
}